body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161853;
}
.main{
  background-color: #292C6D;
}
label{
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
}
input , textarea{
  background-color: #161853;
  padding: 0.5rem;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  margin-bottom:2rem;
  color: white;
}
input::placeholder , textarea::placeholder{
  color: white;
}
button{
  user-select: none;
}
.bg-blue-500{
  background-color: #EC255A;
}
.border-blue-500{
  border-color: #EC255A;
}
.hover\:text-blue-500:hover{
  color: #EC255A;
}
.text-gray-800{
  color: #EC255A;
}
.bg-gray-100{
  background-color: #EC255A;
  color: white;
}
tr td{
  color: white;
}
#amount{
  color: white;
  font-weight: bold;
}
.footer li{
  margin:.5rem .2rem;
}
